# Copy this file to .env.local and fill in your own API key
# To get your own Google Books API Key:
#   Got to https://console.cloud.google.com/
#   Create a new project (or select an existing one)
#   In the left sidebar, click "APIs & Services" > "Library"
#   Search for "Books API" and click on it, then click "Enable"
#   Go to "Enabled APIs & Services" > "Credentials"
#   Click "+ Create Credentials" > "API key"
#   Copy the API key and paste it below as your value
#   Restrict the key:
#       Click "Edit API key" after copying it, or ig you closed to pop-up go to "Credentials" on the left side panel and select your key
#       Under "Application restrictions" select "Websites"
#       Under "Wensite restrictions" click "+ Add" and add your local dev URL (i.e. http://localhost:3000)
#   Copy this file to .env.local and replace the value below:
#       cp .env.example .env.local
NEXT_PUBLIC_GOOGLE_BOOKS_API_KEY=your_api_key